<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.code19.drawer"
		  xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
        <activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.CustomWaveViewActivity"/>
        <activity
			android:name=".activity.DocActivity"
			android:label="@string/doc">
        </activity>
        <activity
			android:name=".activity.LoginUtil"
			android:theme="@style/Theme.AppCompat">
        </activity>
        <activity
			android:name=".activity.SolutionLoginActivity"
			android:label="@string/title_activity_login">
        </activity>
        <activity
			android:name=".activity.SolutionQrScannerActivity"
			android:label="@string/scan_qr">
        </activity>
        <activity
			android:name=".activity.SolutionGqrActivity"
			android:label="@string/scan_gqr">
        </activity>
        <activity
			android:name=".activity.SettingsActivity"
			android:label="@string/action_settings">
        </activity>
        <activity android:name=".activity.BaseActivity">
        </activity>
        <activity android:name=".activity.SearchActivity">
        </activity>
        <activity android:name=".activity.ResumeActivity">
        </activity>
        <activity android:name=".activity.CustomCardDisplayActivity">
        </activity>
    </application>

</manifest>