*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/app/src/androidTest
/drawer/src/androidTest
/m/src/androidTest
/sharesdklibrary/src/androidTest
/spinner/src/androidTest
/stickylistview/src/androidTest
/updialog/src/androidTest
